{% extends 'base.html.twig' %}

{% block title %}О нас{% endblock %}

{% block page_title %}О нас{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 mt-5">
                <p class="plain-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed sem in mauris suscipit iaculis. Quisque eget ante at tortor vehicula vestibulum. In porttitor augue eu leo venenatis dignissim. Suspendisse pulvinar vulputate tortor quis feugiat. Donec id maximus augue. Quisque molestie, eros at pellentesque venenatis, metus nisi fermentum velit, sit amet dapibus libero eros vitae tortor. Proin mauris arcu, sagittis et nulla nec, venenatis mattis risus. Donec sem dolor, pellentesque vel ante non, egestas tincidunt purus. Nam feugiat egestas dui, elementum hendrerit dui sodales id. Nullam condimentum lacinia nulla vitae vehicula. Morbi sed mattis dui, nec sodales arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat sit amet velit at consectetur. Vivamus hendrerit molestie semper. Vestibulum molestie suscipit nisi quis dapibus. Nam maximus semper neque, at egestas lorem porta sed.
                    <br>
                    Vestibulum gravida velit commodo mauris venenatis luctus. In tempus, tellus et bibendum ornare, ante nunc interdum dolor, cursus faucibus odio mauris vel odio. Aenean elementum justo quis urna lacinia gravida. Aliquam luctus hendrerit placerat. Quisque luctus arcu egestas arcu euismod consequat. In et elit sit amet nulla condimentum vehicula. Suspendisse potenti. Praesent ac purus nec tortor lacinia facilisis quis sed massa. Aenean facilisis vulputate augue, sit amet gravida nibh hendrerit in. Nunc maximus quam et lacinia semper. Morbi ut semper ipsum, at malesuada sem. Nullam eu blandit neque, vitae tincidunt velit. Vivamus dictum faucibus odio in egestas. Donec volutpat tristique lobortis. Praesent ac sodales ex, in finibus eros.
                    <br>
                    Nunc consectetur magna lectus. Donec dictum massa lobortis massa laoreet fringilla. Curabitur ut tellus a massa auctor scelerisque sollicitudin at orci. Duis id commodo nulla, et egestas libero. Donec a sodales urna. In facilisis, odio sed vehicula luctus, neque erat fermentum mauris, non fermentum sapien neque eget est. Curabitur mollis porttitor est a iaculis. Vivamus molestie egestas dui, id faucibus erat tristique nec. Aenean pretium egestas sem. Nunc iaculis commodo ligula, vitae feugiat nibh cursus a. Cras et augue et tellus euismod iaculis in et ipsum.
                    <br>
                    Etiam imperdiet ex sed sodales tempus. Praesent finibus lorem in est porta condimentum. Integer finibus lobortis erat fringilla dictum. Quisque id maximus quam, et lacinia nisl. Integer ultrices augue in elit rhoncus pulvinar. In porttitor, purus quis accumsan vulputate, turpis turpis tristique turpis, id ullamcorper purus tellus nec sem. Nunc lacus massa, pharetra id cursus nec, sagittis a sapien. Nunc eget nulla vel enim pellentesque faucibus.
                    <br>
                    Aliquam quis nisl sagittis, sollicitudin magna id, sagittis neque. Nullam mattis dui vel ultrices porta. Vivamus ullamcorper efficitur nisl a suscipit. Nulla rutrum massa sit amet sem sollicitudin, molestie ultrices risus euismod. Maecenas imperdiet, felis a semper feugiat, dui ligula lacinia lectus, consectetur condimentum metus augue at nisl. Praesent vitae vestibulum sapien. Suspendisse odio arcu, convallis sed libero ut, blandit imperdiet tellus. In id tempus tellus.
                </p>
            </div>
        </div>
    </div>
{% endblock %}