{% extends 'base.html.twig' %}

{% block title %}Материалы{% endblock %}

{% block page_title %}Материалы{% endblock %}

{% block page_content %}
    <div class="container">
        <p>
            В своей работе мы используем только лучшие материалы. На этой странице вы можете ознакомиться с их списком.
        </p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Стоимость</th>
                    <th scope="col">Остаток</th>
                </tr>
            </thead>
            <tbody>
                {% for material in materials %}
                    <tr>
                        <th scope="row">{{ material.id }}</th>
                        <td>{{ material.name }}</td>
                        <td>{{ material.price }}</td>
                        <td>{{ material.available }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}