{% extends 'base.html.twig' %}

{% block title %}Заказ оформлен{% endblock %}

{% block page_title %}Заказ успешно оформлен!{% endblock %}

{% block page_content %}
    <p>Поздравляем! Вы успешно создали заказ! Он будет обработан в ближайшее время.</p>
    <p>Теперь самое главное</p>
    <p>Положите вещи в контейнер для приема и промаркируйте их наклейкой с номером</p>
    <p>Наш курьер приедет и заберет ваши вещи, ориентируясь на эту наклейку. Пожалуйста, не перепутайте номера!</p>
    <p>Вы также можете просмотреть полную <a href="" target="_blank">информацию о заказе</a></p>
    <button class="btn btn-lg btn-dark" type="button">Спасибо!</button>
{% endblock %}