{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div>
            <ul>
                <li><a href="">Моя страница</a></li>
                <li><a href="">Создать новый заказ</a></li>
                <li><a href="">История заказов</a></li>
            </ul>
            <div>

            </div>
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}